.cart_box {
  padding: 20px;
  height: auto;
  max-width: 80%;
  margin: 0 auto;

  input,
  textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: black;
    border-radius: 4px;
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: #2982f5;
    }
  }
}

.cart_table {
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;

  > table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;

    thead {
      position: sticky;
      top: 0;
      z-index: 10;
    }

    th,
    td {
      padding: 12px 16px;
      text-align: left;
      border-bottom: 1px solid #dee2e6;

      @media (max-width: 576px) {
        padding: 8px 12px;
      }
    }

    th {
      background-color: #c9c9c9;;
      font-weight: 600;
    }

    tr:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }

    img {
      width: 200px;
      height: 100px;
      object-fit: cover;
    }

    .number_input {
      width: 150px;
    }

    .text_end {
      text-align: right;
    }

    .discount {
      color: green;
    }
  }
}